
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1109px;
    height: 23px;
    flex-shrink: 0;
    margin-left: 126px;
    margin-right: 125px;
    margin-top: 61px;
    margin-bottom: 96px;
}
.right-section{
    margin-left: 856px;
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.346px;
}
.right-section .projects{
    margin-right: 25px;
    text-decoration: none;
    color: #111;
}
.left-section .svg{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*header part ends...*/
@import 'footer'